.EnhanceImage {
  /* border: 1px solid black; */
  display: flex;
  padding: 4vw;
  justify-content: space-between;
  align-items: center;
  background-image: url("./../../../../public/faceSwap/socialMedia/bg.jpg");
  background-size: cover;
  background-position: center;
  .leftContainer {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 50%;
    margin-left: 2%;
    .txt {
      line-height: 2.5vw;
    }
    .btn {
      margin: 1.5vw auto;
    }
  }
  .rightContainer {
    width: 38%;
    /* border: 1px solid black; */
    position: relative;
    margin: auto;
    .imgContainer {
      /* border: 1px solid black; */
      width: 100%;
      display: flex;
      place-items: center;
      border-radius: 1.5vw;
      .img {
        border-radius: 1.5vw;
        border: 0.4vw solid #fff;
        box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.5);
      }
    }
  }
}

@media all and (max-width: 480px) {
  .EnhanceImage {
    flex-direction: column-reverse;
    padding: 6vw 4vw;
    gap: 8vw;
    .leftContainer {
      gap: 2.5vw;
      width: 100%;
      .txt {
        line-height: 5vw;
      }
      .btn {
        margin-top: 4vw;
        font-size: 3vw;
        border-radius: 3vw;
      }
    }
    .rightContainer {
      width: 100%;
      .imgContainer {
        width: 100%;
        border-radius: 3vw;
        .img {
          border-radius: 3vw;
        }
      }
    }
  }
}
