.disableScroll {
  height: 100vh;
  overflow: hidden;
}

.Upload {
  margin-top: 7vw;
  padding: 3vw;
  /* border: 1px solid black; */
  background-image: url("./../../../assets/faceSwap/upload/uploadBg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  .creditBtn,
  .swapNowBtn {
    font-size: 1.5vw;
    font-weight: 500;
  }
  .swapNowBtn {
    cursor: pointer;
  }
  .uploadContainer {
    /* border: 1px solid red; */
    display: flex;
    gap: 15vw;
    .uploadTemplate,
    .uploadYourPhoto {
      display: flex;
      flex-direction: column;
      gap: 1vw;
      .title {
        font-weight: 700;
        text-align: center;
        font-size: 2vw;
        line-height: 2.5vw;
      }
      .imgContainer {
        background: linear-gradient(white, white) padding-box,
          linear-gradient(to right, #ff93df, #7a21bb) border-box;
        border: 0.2vw solid transparent;
        border-radius: 1.7vw;
        width: 21vw;
        height: 25vw;
        position: relative;
        .imgParent {
          border-radius: 1.5vw;
          width: 100%;
          height: 100%;
          img {
            border-radius: 1.5vw;
          }
        }

        .uploadBtnContainer {
          border-radius: 1.5vw;
          /* border: 10px solid black; */
          background: linear-gradient(
            to top,
            rgba(122, 33, 187, 0.8),
            #ff93df80,
            transparent,
            transparent,
            transparent
          );
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          display: flex;
          gap: 1vw;
          justify-content: center;
          align-items: flex-end;
          padding: 0.5vw;
          .btnGrandParent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* border: 1px solid black; */
          }
          .btnParent {
            /* border: 1px solid black; */
            background-color: #fff;
            border-radius: 50%;
            padding: 0.8vw;
            display: flex;
            flex-direction: column;
            gap: 1.5vw;
            justify-content: center;
            align-items: center;
            width: 3.5vw;
            cursor: pointer;
            /* img {
            } */
          }
          p {
            font-weight: 400;
            color: #fff;
            font-size: 1.3vw;
            width: 5vw;
            text-align: center;
          }
        }
      }
    }
  }
}

.baap {
  position: relative;
}
.webcamContainer {
  position: relative;
  width: 21vw;
  height: 25vw;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #ff93df, #7a21bb) border-box;
  border: 0.2vw solid transparent;
  border-radius: 1.7vw;
  .webcamParent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    #webcam {
      width: 100%;
      height: 100%;
      border-radius: 1.7vw;
      /* margin: 0 auto; */
      object-fit: cover;
    }
    .capturedImage {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1.7vw;
      /* height: 99%; */
    }
  }
  .captureBtnContainer {
    border-radius: 1.5vw;
    /* border: 10px solid black; */
    background: linear-gradient(
      to top,
      rgba(122, 33, 187, 0.8),
      #ff93df80,
      transparent,
      transparent,
      transparent
    );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: flex-end;
    padding: 0.5vw;
    .btnGrandParent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* border: 1px solid black; */
    }
    .btnParent {
      /* border: 1px solid black; */
      background-color: #fff;
      border-radius: 50%;
      padding: 0.8vw;
      display: flex;
      flex-direction: column;
      gap: 1.5vw;
      justify-content: center;
      align-items: center;
      width: 3.5vw;
      cursor: pointer;
      /* img {
      } */
    }
    p {
      font-weight: 400;
      color: #fff;
      font-size: 1.3vw;
      width: 5vw;
      text-align: center;
    }
  }
}

@media all and (max-width: 480px) {
  .Upload {
    /* border: 1px solid black; */
    margin-top: 14vw;
    padding: 6vw;
    gap: 4vw;
    .creditBtn,
    .swapNowBtn {
      font-size: 3vw;
    }
    .swapNowBtn {
      font-size: 4vw;
    }
    .uploadContainer {
      /* border: 1px solid black; */
      flex-direction: column;
      gap: 7.5vw;
      .uploadTemplate,
      .uploadYourPhoto {
        .title {
          font-size: 4vw;
          line-height: 5vw;
        }
        .imgContainer {
          border: 0.4vw solid transparent;
          width: 42vw;
          height: 50vw;
          .uploadBtnContainer {
            gap: 2vw;
            .btnParent {
              width: 7vw;
              padding: 1.6vw;
            }
            p {
              font-size: 2.6vw;
              width: 10vw;
            }
          }
        }
      }
    }
  }

  .webcamContainer {
    width: 42vw;
    height: 50vw;
    border: 0.4vw solid transparent;
    .captureBtnContainer {
      gap: 2vw;
      .btnParent {
        width: 7vw;
        padding: 1.6vw;
      }
      p {
        font-size: 2.6vw;
        width: 10vw;
      }
    }
  }
}
